<div class="container-fluid">
  <ul>
    <li>
      <div class="col-sm-9">
        <p>
          <b>Spreads (V/VE)</b>
        </p>
        <i>Choose from plain, poppy seed, rye, sesame seed, cinnamon &amp; raisin, blueberry or GF (+50c)</i>
      </div>
      <div class="col-sm-3">
        <p>&dollar;7</p>
      </div>
    </li>
    <li>
      <div class="col-sm-9">
        <p>
          <b>Toasted Bagel with your choice of butter/cream cheese/peanut butter/vegemite/dill cream chese/mascarpone/honey/jam</b>
        </p>
      </div>
      <div class="col-sm-3">
        <p>&dollar;7</p>
      </div>
    </li>
    <li>
      <div class="col-sm-9">
        <p>
          <b>Acai Bowl (VE)</b>
        </p>
        <i>Brazilian berry puree/granola/shaved coconut/seasonal fruit</i>
      </div>
      <div class="col-sm-3">
        <p>&dollar;16</p>
      </div>
    </li>
    <li>
      <div class="col-sm-9">
        <p>
          <b>Coconut Chia Pudding (VE)</b>
        </p>
        <i>Chia seed coconut pudding/passionfruit/coulis/granola/dried cranberries/seasonal fruit</i>
      </div>
      <div class="col-sm-3">
        <p>&dollar;15</p>
      </div>
    </li>
    <li>
      <div class="col-sm-9">
        <p>
          <b>Mixed Berry (V)</b>
        </p>
        <i>Toased blueberry bagel/mixed berry/mascarpone/fresh strawberries/pistachio dust</i>
      </div>
      <div class="col-sm-3">
        <p>&dollar;16</p>
      </div>
    </li>
    <li>
      <div class="col-sm-9">
        <p>
          <b>Bacon, Maple &amp; Banana (V)</b>
        </p>
        <i>Toased blueberry bagel/grilled bacon/sliced banana/mascarpone/maple syrup/popcorn</i>
      </div>
      <div class="col-sm-3">
        <p>&dollar;16</p>
      </div>
    </li>
    <li>
      <div class="col-sm-9">
        <p>
          <b>Honey &amp; Ricotta (V)</b>
        </p>
        <i>Toased cinnamon &amp; raisin or blueberry bagel/fresh ricotta/honey/cinnamon sugar</i>
      </div>
      <div class="col-sm-3">
        <p>&dollar;11</p>
      </div>
    </li>
  </ul>
</div>
