<div class="container-fluid">
  <ul>
    <li>
      <div class="col-sm-9">
        <p><b>White Coffee</b><p>
            <i>'Black Betty' by ONA Coffee</i>
            <p>Flat White/Latte/Cappuccino</p>
            <p>Magic/Picollo</p>
            <p>Mocha</p>
            <p>Iced Latte with Ice-cream</p>
      </div>
      <div class="col-sm-3">
        <br>
        <br>
        <br>
        <p>$4<p>
        <p>$4</p>
        <p>$4.5</p>
        <p>$7</p>
      </div>
    </li>
    <li>
      <div class="col-sm-9">
        <p><b>Black Coffee</b><p>
            <i>Rotating Single Origin by ONA Coffee</i>
            <p>Short/Long/Short Mac/Long Mac</p>
            <p>Cold Drip</p>
            <p>Batch Brew Filter</p>
            <p>Affagato</p>
      </div>
      <div class="col-sm-3">
        <br>
        <br>
        <br>
        <p>$4<p>
        <p>$6</p>
        <p>$4</p>
        <p>$5</p>
      </div>
    </li>
    <li>
      <div class="col-sm-9">
        <p><b>Tea</b><p>
            <p>Australian Daintree</p>
            <p>Guranese (Green)</p>
            <p>Peppermint</p>
            <p>Lemongrass & Hibiscus</p>
      </div>
      <div class="col-sm-3">
        <br>
        <br>
        <p>$5<p>
        <p>$5</p>
        <p>$5</p>
        <p>$5</p>
      </div>
    </li>
          </ul>
        </div>
