<div class="container-fluid">
  <ul>
    <li>
      <div class="col-sm-9">
        <p>
          <b>White Coffee</b>
        </p>
        <i>'Black Betty' by ONA Coffee</i>
      </div>
      <div class="col-sm-9">
        <p>Flat White/Latte/Cappuccino</p>
      </div>
      <div class="col-sm-3">
        <p>&dollar;4</p>
      </div>
      <div class="col-sm-9">
        <p>Magic/Picollo</p>
      </div>
      <div class="col-sm-3">
        <p>&dollar;4</p>
      </div>
      <div class="col-sm-9">
        <p>Mocha</p>
      </div>
      <div class="col-sm-3">
        <p>&dollar;4.5</p>
      </div>
      <div class="col-sm-9">
        <p>Iced Latte with Ice-cream</p>
      </div>
      <div class="col-sm-3">
        <p>&dollar;7</p>
      </div>
    </li>

    <li>
      <div class="col-sm-9">
        <p>
          <b>Black Coffee</b>
        </p>
        <i>Rotating Single Origin by ONA Coffee</i>
      </div>
      <div class="col-sm-9">
        <p>Short/Long/Short Mac/Long Mac</p>
      </div>
      <div class="col-sm-3">
        <p>&dollar;4</p>
      </div>
      <div class="col-sm-9">
        <p>Cold Drip</p>
      </div>
      <div class="col-sm-3">
        <p>&dollar;6</p>
      </div>
      <div class="col-sm-9">
        <p>Batch Brew Filter</p>
      </div>
      <div class="col-sm-3">
        <p>&dollar;4</p>
      </div>
      <div class="col-sm-9">
        <p>Affagato</p>
      </div>
      <div class="col-sm-3">
        <p>&dollar;5</p>
      </div>
    </li>
  </ul>
</div>
