<div class="container-fluid bod-container">
  <h2>Contact</h2>

  <div id="open-hours">
    <h3>Opening Hours</h3>

    <p>Mon - Thurs &nbsp; 7am–5pm
      <br>
      Friday &nbsp; 7am–8pm
      <br>
      Sat - Sun &nbsp; 9am–4pm
    </p>
  </div>
  <div id="address">
    <h3>Address</h3>
    <p>8 Rankins Ln, Melbourne VIC 3000, Australia</p>
    <div id="map-container">
      Map included
    </div>
  </div>
  <div id="contact-methods">
    <h3>Contact us</h3>
    <p>Phone: &nbsp; 9600 4054</p>
    <p>Instagram: &nbsp; @</p>
    <p>Email: &nbsp; @gmail.com</p>
  </div>

  Feedback form

</div>
