.background {
  background-color: black;
}

.header-image {
    position: relative;
    text-align: center;
    color: white;
    opacity: 0.8;
}

.img-responsive {
  display: initial;
}

.centered-text {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar {
  border-radius: 0px;
  background-color: black;
  border-color: black;
}

.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
}
